/* CSS Mini Reset http://www.vcarrer.com/2010/05/css-mini-reset.html */

*
  font-family: Helvetica, Arial, Sans-serif

html, body, div, form, fieldset, legend, label
  margin: 0
  padding: 0

body, html
  height: 100%
  
table
  border-collapse: collapse
  border-spacing: 0

th, td
  text-align: left
  vertical-align: top

h1, h2, h3, h4, h5, h6, th, td, caption
  font-weight: normal

img
  border: 0
  
.dragdealer 
  position: relative
  height: 25px
  background: #fff
  border-radius: 10px
  border: 1px solid #BBB
  
.dragdealer .handle 
  position: absolute
  cursor: ew-resize
  border-radius: 10px
  -webkit-box-shadow: 0px 1px 1px #454545
  box-shadow: 0px 1px 1px #454545
  top: -1px

.dragdealer .red-bar 
  width: 75px
  height: 25px
  background: #333
  color: #FFF
  line-height: 25px
  text-align: center

  

.dragdealer .disabled 
  background: #898989


#login-wrapper
  margin: 20px auto
  width: 600px
  background: #fff
  border: 1px solid #999
  padding: 0
  .box-header
    font-size: 2em
    text-align: center
    font-family: helvetica, arial, sans-serif
    font-weight: bold
    margin: 25px auto 30px auto
.row
  text-align: center
  margin-bottom: 20px
  .label
    text-align: right
    font-size: 1.4em
    display: inline-block
    width: 125px
    margin-right: 10px
  .input
    width: 300px
    font-size: 1.5em

.humanMsg 
  font: normal 20px/50px Helvetica, Arial, Sans-Serif
  letter-spacing: -1px
  position: fixed
  top: 20px
  left: 30.0%
  width: 300px
  color: white
  background-color: black
  text-align: center 
  display: none
  opacity: 0
  z-index: 100000
  border-radius: 5px

  

.humanMsg p 
  padding: .3em
  display: inline 
  

.humanMsg a 
  display: none
  
  
#humanMsgLog 
  font: normal 10px Helvetica, Arial, Sans-Serif
  color: white
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  max-height: 200px
  display: none
  z-index: 10000
  

#humanMsgLog p 
  position: relative
  left: 50%
  width: 200px
  margin: 0
  margin-left: -100px
  padding: 0 10px
  line-height: 20px
  background: #333
  text-align: center
  white-space: pre
  cursor: pointer
  

#humanMsgLog p:hover 
  background: #222
  

#humanMsgLog ul 
  background: #eee url(data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAARCAIAAACaSvE/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNqEjVEKACAIQ516Ee//5wVNCjIjaB/iY5vC3YkoIgDkVDOjQ5pqLCI3r2bLFzNzyydvM4uKqfJPKN4vyl9LO/7o3/6PhwADAIWkFPjc5eRrAAAAAElFTkSuQmCC) repeat-x
  margin: 0
  padding: 0
  position: relative
  max-height: 180px
  overflow: auto
  display: none
  

#humanMsgLog ul li 
  color: #555
  font-size: 12px
  list-style-type: none
  border-bottom: 1px solid #ddd
  line-height: 40px
  display: none
  padding: 0 20px
  position: relative
  overflow: hidden
  white-space: pre
  

#humanMsgLog ul li:hover
  background: #f2f2f2

#humanMsgLog ul li:first-child
  margin-top: 1px
  
  
#humanMsgLog ul li .error
  color: orangered

#humanMsgLog ul li .indent
  position: absolute
  top: 0
  left: 100px
  margin-right: 200px
  height: inherit
.awesome, .awesome:visited 
  border: none
  background: #222 url(/images/alert-overlay.png) repeat-x 
  display: inline-block 
  padding: 5px 10px 6px 
  color: #fff 
  text-decoration: none
  -moz-border-radius: 5px 
  -webkit-border-radius: 5px
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
  border-bottom: 1px solid rgba(0,0,0,0.25)
  position: relative
  cursor: pointer

.awesome:hover
  background-color: #111
  color: #fff
  text-decoration: none
.awesome:active
  top: 1px
.small.awesome, .small.awesome:visited
  font-size: 9px
  padding: 3px 5px
.medium.awesome, .medium.awesome:visited
  font-size: 13px
  font-weight: bold
  line-height: 1
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
.large.awesome, .large.awesome:visited
  font-size: 14px
  padding: 8px 14px 9px
.huge.awesome, .huge.awesome:visited
  font-size: 18px
  padding: 15px 30px 15px
.green.awesome, .green.awesome:visited
  background-color: #91bd09
.green.awesome:hover
  background-color: #749a02
.blue.awesome, .blue.awesome:visited
  background-color: #00669D
.blue.awesome:hover
  background-color: #00467D
.red.awesome, .red.awesome:visited
  background-color: #F32100
.red.awesome:hover
  background-color: #A72300
.gray-red.awesome, .gray-red.awesome:visited
  background-color: #BBB
.gray-red.awesome:hover
  background-color: #e31100
.magenta.awesome, .magenta.awesome:visited
  background-color: #a9014b
.magenta.awesome:hover
  background-color: #630030
.orange.awesome, .orange.awesome:visited
  background-color: #ff5c00
.orange.awesome:hover
  background-color: #d45500
.yellow.awesome, .yellow.awesome:visited
  background-color: #ffb515
.yellow.awesome:hover
  background-color: #fc9200
.gray.awesome, .gray.awesome:visited, .grey.awesome, .grey.awesome:visited
  background-color: #888
.gray.awesome:hover, .grey.awesome:hover
  background-color: #777
.black.awesome, .black.awesome:visited
  background-color: #333
.black.awesome:hover
  background-color: #111



.disabled.awesome
  background-color: #ccc
.disabled.awesome:hover
  background-color: #DDD

.disabled.awesome
  background-color: #ccc
.disabled.awesome:hover
  background-color: #DDD
  
.colored-box
  &.green
    background: #effeb9
    border-color: #98c700
  &.red
    background: #fccac3
    border-color: #ea5338
  &.yellow
    background: #ffeaa7
    border-color: #f9b418
  &.blue
    background: #d1e4f3
    border-color: #4d8fcc
  &.brown
    background: #feeac9
    border-color: #d38e49
  &.gray
    background: #eee
    border-color: #aaa
  border-width: 1px
  border-style: solid
  padding: 10px 15px
  margin-top: 20px
  &.head
    margin: -15px -15px 15px -15px
    border-radius: 0
    border: none
    border-bottom: 1px solid #ccc

.notification
  &.success
    background: #effeb9 url('../img/icons/notifications/success.png') no-repeat 10px 10px
    border-color: #98c700
  &.error
    background: #fccac3 url('../img/icons/notifications/error.png') no-repeat 10px 10px
    border-color: #ea5338
  &.warning
    background: #ffeaa7 url('../img/icons/notifications/warning.png') no-repeat 10px 10px
    border-color: #f9b418
  &.info
    background: #d1e4f3 url('../img/icons/notifications/info.png') no-repeat 10px 10px
    border-color: #4d8fcc
  &.tip
    background: #feeac9 url('../img/icons/notifications/tip.png') no-repeat 10px 10px
    border-color: #d38e49
  position: relative
  border-width: 1px
  border-style: solid
  padding: 17px 17px 17px 55px
  margin-bottom: 15px
  -moz-border-radius: 3px
  -webkit-border: 3px
  border-radius: 3px


.logo
  position: fixed
  bottom: 15px
  left: 15px
  opacity: 0.5
  z-index: 5000


.paper
  width: 550px
  margin: 30px auto
  padding: 40px 80px
  position: relative
  background: #fff  url(/images/texture.png)
  -webkit-box-shadow: 2px 2px 5px #333
  box-shadow: 2px 2px 5px #333
  border-radius: 2px
    
    
.new-user-signup-overlay
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: #000
  opacity: 0.6
  z-index: 9999
.new-user-signup
  position: absolute
  left: 50%
  top: 30px
  width: 450px
  margin-left: -250px
  background: #fff
  border: 2px solid #ccc
  z-index: 10000
  min-height: 250px
  border-radius: 5px
  padding: 20px
    
    
    
.entity
  position: absolute
  width: 16px
  height: 16px
  background: black
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  z-index: 100
.callout
  font-size: 0.75em
  position: absolute
  top: 20px
  left: -46px
  padding: 5px
  background: black
  border-radius: 5px
  opacity: 0.85
  color: white
  width: 100px
  text-align: center
  display: none
  z-index: 999
.note
  font-size: 1.1em
  position: absolute
  top: 0px
  left: 0px
  padding: 5px
  background: black
  border-radius: 3px
  opacity: 0.6
  color: white
  text-align: center
  text-shadow: 0 -1px 1px rgba(0,0,0,1)
  z-index: 500
  
.reach-ring
  position: absolute
  width: 252px
  height: 252px
  -webkit-border-radius: 128px
  -moz-border-radius: 128px
  border-radius: 128px
  border: 2px dashed #999
.ring
  position: absolute
  width: 12px
  height: 12px
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  border: 2px solid black
  z-index: 1000
.wall
  position: absolute
  width: 16px
  height: 16px
  background: black
  z-index: 250
.question
  position: absolute
  width: 16px
  height: 16px
  background: url("/images/question.png")
  z-index: 250
  cursor: pointer
.teleporter
  position: absolute
  width: 16px
  height: 16px
  background: url("/images/teleport.png")
  z-index: 250
.small-note
  font-size: 0.7em
  position: absolute
  top: 17px
  left: -16px
  width: 48px
  padding: 1px
  background: black
  border-radius: 3px
  opacity: 0.6
  color: white
  text-align: center
.touchpad
  display: inline-block
  width: 20%
  height: 30px
  background: black
    
    
.loading-mask
  position: absolute
  left: 0
  top: 0
  z-index: 1000
  background-color: #ccc
  width: 100%
  height: 100%
  .loading-box
    background: #fff
    text-align: center
    width: 400px
    height: 150px
    margin: 100px auto
    padding: 50px
    font-size: 3em
.map-container
  width: 75%
  height: 100%
  overflow: hidden
  float: left
  background: #222
  position: relative
.map-view
  position: relative
  width: 2048px
  height: 2048px
  background: #f5f5f5 url('/images/grid.png')
  background-position: 8px 8px
  overflow: hidden
.birds-eye
  width: 85.5px
  height: 85.5px
  position: fixed
  bottom: 15px
  right: 26%
  z-index: 500
  background: white
  border: 2px solid #999
  opacity: 0.9
.location-box
  width: 20px
  height: 20px
  position: absolute
  z-index: 510
  border: 1px solid red
.pixel
  width: 1px
  height: 1px
  color: black
  position: absolute
  z-index: 505
.information
  width: 40%
  height: 50%
  background: #222
  float: left

.chat
  width: 25%
  height: 100%
  background: #ddd
  float: left
  position: relative
  overflow: hidden  
  .message-list
    margin-top: 1%
    width: 100%
    height: 80%
    overflow: auto
    position: absolute
    bottom: 60px
    .message
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px
      width: 94%
      background: #fff
      margin: 1% 2%
      padding: 1% 2%
    .sender
      color: blue
      display: inline-block
      font-weight: bold
      margin-right: 10px
  #chat-input
    display: block
    height: 20px
    position: absolute
    bottom: 35px
    left: 2%
    width: 93%
    
  #distance-slider
    display: block
    position: absolute
    bottom: 5px
    left: 2%
    width: 94.5%
.settings
  width: 90%
  margin: 0 5%
  padding: 15px 0 0 5%
  height: 350px
  position: absolute
  color: white
  left: 0
  top: -365px
  background: #000
  border-radius: 0 0 6px 0
  .settings-tab
    background: #000 url("/images/settings.png") no-repeat
    position: absolute
    bottom: -38px
    left: 0
    width: 38px
    height: 40px
    border-radius: 0 0 6px 6px
    background-position: 5px 7px
    cursor: pointer
    &:hover
      cursor: pointer
      bottom: -40px
      
    
